.day {
  background-color: #ebf8fb !important;
}

.disable-day {
  background-color: lightgray !important;
  color: black !important;
}

.disable-day::after {
  background-color: lightgray !important;
}

.autocomplete {
  background-color: #d4f1e1 !important;
}

.upgrade {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#picker-input {
  margin: 50px auto;
}

.calendar.double {
  margin: 0 auto;
}

.disabled-custom {
  background-color: #ebc3c6 !important;
}
