.day {
  background-color: #ebf8fb !important;
}

.disable-day {
  background-color: #ebc3c6 !important;
  color: black !important;
}

.disable-day::after {
  background-color: #ebc3c6 !important;
}

.autocomplete {
  background-color: #d4f1e1 !important;
}
